

<h1>Admin Page</h1>




<ul>
    <li>@Html.ActionLink("Create Guide", "CreateGuide", "Admin")</li>
    <li>@Html.ActionLink("Create Tours", "CreateTour", "Admin")</li>
    <li>@Html.ActionLink("Create MarketTypes", "CreateMarkets", "Admin")</li>
    <li>@Html.ActionLink("Delete things", "DeleteStuff", "Admin")</li>
</ul>